<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <form (ngSubmit)="saveItem()" #itemForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" ngModel required #title="ngModel" class="form-control" *ngIf="item"
          [(ngModel)]="item.title">
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input class="form-control" id="amount" name="amount" *ngIf="item" description required #amount="ngModel"
          [(ngModel)]="item.amount">
      </div>
      <button class="btn btn-primary" [disabled]="itemForm.invalid">Save Item</button>
      <button class="btn btn-warning" [routerLink]="['/items']">Cancel</button>
    </form>
  </div>
</div>